body {
    display: grid;
    grid-template-rows: 10vh 90vh;
    grid-template-columns: 100vw;
    grid-template-areas: 
        "header header"
        "main main";
    background: blue;
    min-width: 100%;
    min-height: 100%;
    margin: 0%;
    position: fixed;
}

.sitenav {
    grid-area: header;
    background: orange;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 6fr 1fr 1fr 1fr 1fr 1fr;
}

.sitenav .box{
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    border-style: groove;
}

.sitenav .box a:link, a:visited{
    background-color: orange;
    color: black;
    height: 100%;
    width: 100%;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.sitenav .box a:hover{
    background-color: orangered
}

.sitecontent {
    grid-area: main;
}

.sitecontent iframe {
    height: 100%;
    width: 100%;
}