body {
    margin: 0;
    background-color: #26262b;
    overflow: hidden;
}

#parent {
    height: 100%;
    width: 100%;   
    text-align: center;
    margin: 0;
}

.hBlock   {
    background-color: #26262b;
    color: #d4d4d5;
    font-size: 200%;
    font-family: helvetica;
    padding: 5px;
    height: 10%;
}

.pBlock   {
    background-color: #5A5A5A;
    color: #d4d4d5;
    font-size: 300%;
    font-family: arial;
    padding: 20px;
    height: 50%;
}