* {
    margin: 0;
    padding: 0;
    background-color: #26262b;
    overflow: hidden;
}

.site {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
}

.header {
    grid-area: header;
    background-color: #d4d4d5;
}

.sidebar {
    grid-area: sidebar;
    background-color: #d4d4d5;
}

.content {
    grid-area: main;
    background-color: #d4d4d5;
}

.footer {
    grid-area: footer;
    background-color: #d4d4d5;
}

 