body {
    background: blue;
    min-width: 100%;
    min-height: 100%;
    margin: 0%;
    position: fixed;
}

.main {
    display: grid;
    grid-template-rows: 1fr;

}

.contentnav {
    grid-area: sidebar;
    background: rgb(255, 194, 80);
}

.content {
    grid-area: main;
    background: rebeccapurple;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
